/*
font-family: 'Be Vietnam Pro', sans-serif;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Be Vietnam Pro', sans-serif;
    background-image: url(../images/bg-simplify-section-desktop.svg)
}


/* ARRANCA EL HEADER */

.div-header{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    width:100vw;
    height: 10vh;
    font-size: 13px;
    margin-top: 40px;
}
.ul-header{
    display: flex;
    list-style-type: none;
    color:#232C50
}

header nav ul li{
    padding: 0px 30px;
}


.get-started {
    text-decoration: none;
    background-color:rgba(243, 97, 60, 1);
    color:rgba(255, 255, 255, 1); 
    border-radius: 50px;
    padding: 0.5rem 1rem;
    border: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-inline-start: 1.5rem;
    padding-inline-end: 1.5rem;
    z-index: 100;
    font-size: 0.8rem;
    text-align: center;
}

/* ARRANCA SECCION ARTICULOS FIRST Y SECOND */

.main-articles{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

h1{
    font-size: 58px;
    padding-right: 120px;
}

.first-p{
    font-size: 18px;    
    padding-right: 180px;
    margin: 35px 0px 35px 0px;
    line-height: 30px;
    font-weight: 100;
    width:80%
}
.article-list-items{
    display:flex;
    flex-direction: column;


}
.manage{
    font-size: 36px;
    width: 70%;
}
.manage-parragraph{
    width: 60%;
}

.first-art{
    width: 40vw;
    height: auto;
}

.first-art2{
    width: 33vw;
    height: auto;
}

.second-art{
   display: flex;
} 
.images-3{
    width:100%;
    height: 100%;
}

p{
    font-size: 16px;
}

.span1{
    display: flex;
    color:rgb(255, 255, 255);
}
span{
    background-color: #f3603b;
    border: none;
    border-radius: 5rem;
    width: 4vw;
    height: 4vh;
    padding-left: 1.5vw;
    padding-top: 0.9vh;
    margin-right: 1vw;   
}
.orange-title{
    color:rgb(255, 255, 255);
}

h4{
    margin-top: 1vh;
}


  


.article-list-items p{
    margin-top: 1.5vh;
    margin-left: 6vw;
}
.cards-title{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    font-size: 25px;
}

.card-container{
    display:flex;
}

.footer-section1{
    display: flex;
    height: 150px;
    justify-content: space-around;
    background-color: #F3613C;
}
/* .white-button{
    background-color: rgb(255, 255, 255);
    color: #F3613C;
} */

.white-button{
    text-decoration: none;
    box-shadow: 0.5rem;
    color:rgba(243, 97, 60, 1);
    background-color:rgba(255, 255, 255, 1); 
    border-radius: 500px;
    padding: 0.5rem 1rem;
    border: none;
}
/* display: flex;
    justify-content: space-between;
    background-color: #FAFAFA;
    width: 100%;
    height: 30vh;
    margin-bottom: 10px; */

.container{
    width: 100%;
    height: 230px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    background-color: #FAFAFA;
    
} 

.cards-container{
    display: flex;
    margin-top: 100px;
    width:100%

}
.cards-container .container img{
    width: 80px;
    height: 80px;
}

*/
/* .ali-bravo{
    display: flex;
    justify-content: center;
    width: 100px;   
    height: 100px;

} */
.before-orange{
    display: flex;
    justify-content: center;
}
.Ali-Bravo-Cards-Tittle{
    margin-top:40px;
}
.avatar{
    position: absolute;
    bottom: -600px;
}

h1, h2, h3, h4, p {
    color: #232C50
}

/* SECCION NARANJA */
.orange-section{
    background: rgba(243, 97, 60, 1);
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem; 
    display: flex;
    /* flex-direction: column; */
    padding: 4rem 3rem;
    justify-content: space-around;
}
.white-in-orange{
    font-weight: 550;
    /* size: 100px; */ 
    color: rgba(255, 255, 255, 1);
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1rem;
}
.orange-title{
    display: flex;
    justify-content: left;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 1rem;
}

.white-button{
    text-decoration: none;
    box-shadow: ;
    color:rgba(243, 97, 60, 1);
    background-color:rgba(255, 255, 255, 1); 
    border-radius: 500px;
    padding: 0.5rem 1rem;
    border: none;
}
    button:hover {
        background-color: rgba(226, 114, 16, 0.7);
    }

/*
FOOTER
*/
.container-footer {
    display: block;
    padding: 1rem;
    background-color:rgba(30, 30, 38, 1);
    color: white; 
    width: 100%;
    max-width: 100%;
    min-width: 375px;
    height: auto;
    
}
.container-footer2{
    width: 80%;
    flex-direction: row-reverse;
    align-items: flex-start;

}

.formulario {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    width: 100%;
    align-items: center;
    appearance: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: 2px solid transparent;
    outline-offset: 2px; 
    width: 100%;
    line-height: 1.2;
    border-radius: 40px; 
}
.formLine {
    display: flex;
    justify-content: center;
    width: 100%;
}
#form {
    width: 100%;
    height: 2.5rem;
    border: 2px, solid, black;
    border-radius: 1.6rem;
    padding: 1.25rem;
    position: relative;
    min-width: 240px;
    appearance: none;
    overflow: visible;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    
}
.OrangeButton2 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    appearance: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    width: auto;
    height: 2.5rem;
    min-width: 4rem;
    text-decoration: none;
    background-color:rgba(243, 97, 60, 1);
    color:rgba(255, 255, 255, 1); 
    border-radius: 40px;
    padding: 0.5rem 2rem;
    margin-left: 1rem;
    overflow: visible;
    border: none;
}
.navegador-listas {
    display: flex;
    justify-content: center;
    color: rgba(179, 178, 183, 1);
    line-height: 2rem;
    font-weight: 500;
    gap: 2rem;
    font-size: .8rem;
    margin: 0%;
    

}
.first-lists {
    list-style: none;
    margin: 0%;
    padding: 0%;
    overflow-wrap: break-word;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin: 0px;
    padding: 0px;
    color:rgb(255, 255, 255);
}
a{
    color:white;
}
.second-lists {
    list-style: none;
    padding: 20px;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin-left: 1rem;
    padding: 0px;
}
.aFooter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    text-decoration: none;
}
.liBottom{
    margin-bottom: 8px;
    overflow-wrap: break-word;
    display: list-item;
    text-align: inherit;
    list-style-type: none;
}


#icons {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    justify-content: space-around;
    margin: 25px;

}

.fa-facebook-f:before {
    font-size: 35px;
    color:#FFFFFF;
    margin: 1rem;
    width: 30px;
    height: 30px;
    max-width: 100%;
    display: block;
}

.fa-youtube-square:before {
    font-size: 35px;
    color:#FFFFFF;
    margin: 1rem;
    width: 30px;
    height: 30px;
    max-width: 100%;
    display: block;

}

.fa-twitter-square:before {
    font-size: 35px;
    color:#FFFFFF;
    margin: 1rem;
    width: 30px;
    height: 30px;
    max-width: 100%;
    display: block;

}
.fa-pinterest:before {
    font-size: 35px;
    color:#FFFFFF;
    margin: 1rem;
    width: 30px;
    height: 30px;
    max-width: 100%;
    display: block;

}

.fa-instagram-square:before {
    font-size: 35px;
    color:#FFFFFF;
    margin: 1rem;
    width: 30px;
    height: 30px;
    max-width: 100%;
    display: block;

}

.copyright1 {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: rgb(158, 156, 156);
    font-size: .6rem;
    display: none;
    width: 100%;
    text-align: left;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}

.copyright {
    display: block;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; 
    font-size: 0.6rem;
    text-align: center;
    color: rgb(158, 156, 156);
    font-family:'Be Vietnam Pro', sans-serif;
    margin-top: 1rem;
    margin-bottom:0.5rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}

.iconsLogo {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    
}

.icons2 {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    width: 100%;
    overflow-wrap: break-word; 
    margin: 0.5rem;
}

.icons3 {
    display: flex;
    justify-content: center;
    gap:0.5rem;
    
}
.logoBottom {
    display: flex;
    justify-content: center;
    margin: 3rem;
}





/* MEDIA QUERIES */

.menu {
    display: none;
}

.four-points{
    display: none;

}

/* .nav-header{
    display: none;
} */

/* .avatar1{
    display:none;
}
.avatar3{
    display:none;
} */

